.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.game-board {
  background-image: linear-gradient(#3ca3ff, #005eb3);
  width: 800px;
  margin: auto;
  padding: 8px;
}

.game-board > .cell {
  width: calc(800px / 7 - 8px);
  height: calc(800px / 7 - 8px);
  background: white;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 4px;
}

.game-board > .cell[data-player = 'playerOne'] {
  background-image: linear-gradient(#ffffc9, #cece00);
}

.game-board > .cell[data-player = 'playerTwo'] {
  background-image: linear-gradient(#fb7272, #da0000);
}